.creatorSelector {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.addCreatorMenu {
    z-index: 10;
    position:absolute;
    padding:12px;
    top:20%;
    left:30%;
    background-color: #303030;
    display:flex;
    flex-direction: row;
}
.addCreatorMenu input {
    height:34px;
}

.addCreatorMenu button {
    margin-left:auto;
    height:39px;
}