.creatorSelector {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.addCreatorMenu {
    z-index: 10;
    position:absolute;
    top:20%;
    left:30%;
    width:200px;
    height:100px;
    background-color: #303030;
}