.app {
    display:flex;
    flex-direction: column;
    height:100%;
}
.header {
    width:100%;
    height:50px;
    background-color: #303030;

    filter: drop-shadow(0px 4px 6px #17171788);
    z-index:7;

}

.header-contents {
    color:#D9D9D9;
    height:100%;
    display:flex;
    align-items:center;
}
.square-icon {
    margin:0px 10px;
}

.project-title {
    font-size:20px;
    font-weight:100;
    font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
}

.wall {
    width:100%;
    height:calc(100% - 40px);
}

#canvas {
    width:100%;
    height:100%;
    z-index:1;
}
.details {
    font-family: Roboto, Arial, sans-serif;
    position:absolute;
    bottom:364px;
    right:300px;
    width:353px;
    height:200px;
    background-color: #171717;
    color:white;
    border:none;
    z-index: 2;

    display:flex;
    flex-direction: row;
    justify-content:space-between;

    margin:0px;
    padding:0px;
}

.closeButton {
    width:20px;
    height:20px;
    padding:2px;
    border-style:none;
    background:none;
}

.detailsContent {
    padding:20px;
}

.author {
    margin:0px;
    font-size:22px;
    font-weight:500
}

.name {
    margin:0px;
    font-weight:900;
    font-style:italic;
    margin:5px 0px;
}
.title {
    margin:5px 0px;
    font-size:20px;
}

p{
    margin:0px;
}

.description {
    font-size:14px;
    font-weight:300;
}
.date {

}