/* 
CSS used in FocusMode
Breadth-first ordering of elements 
*/

.overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 3;
    background-color: #171717ee;
}

.noteView {
    position:absolute;
    top:20%;
    left:20%;
    right:50%;
    height:500px;
    width:500px;
}

.infoPanel {
    position:absolute;
    top:20%;
    left:calc(20% + 550px);
    height:500px;
    width:500px;
}

.noteImage {
    aspect-ratio : 1 / 1;
    height:100%;
}

.loadingNote {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

.loadingNoteAnimation {
    width:20%;
    position:absolute;
    top:calc(40% - 5px);
    left:calc(40% - 5px);
}

.details {
    font-family: Roboto, Arial, sans-serif;
    position:absolute;
    top:0;
    right:calc(50% - 200px);
    width:400px;
    height:250px;

    color:white;
    z-index: 2;

    display:flex;
    flex-direction: row;

    margin:0px;
    padding:0px;
}

.controls {
    position:absolute;
    top:50%;
    right:calc(50% - 100px);
    width:200px;
    height:200px;
}


/* 
Detail text
*/
.detailsContent {
    margin:50px auto auto auto;
    padding:auto;
    text-align:center;
}

.detailsContent br {
    margin-top: 10px;
}

.artist {
    font-size:16px;
    font-weight:400
}

.title {
    font-size:25px;
    font-weight:600;
    font-style:italic;
}

.placeTime {
    font-weight:100;
    font-size:14px;

}

.description {
    display:inline-block;
    margin-top:50px;
    font-size:12px;
    font-weight:300;
}


/* 
Individual controls
*/
.control {
    position:absolute;
}

.up {
    top:0px;
    left:calc(50% - 11px);
}

.close {
    top: calc(50% - 13px);
    left:calc(50% - 11px);
}

.down {
    bottom:0px;
    left:calc(50% - 11px);
}

.left {
    top:calc(50% - 13px);
    left:0px;
}

.right {
    top:calc(50% - 13px);
    right:0px;
}

/*
Mobile view
*/

.overlayContents{
    height:calc(100% - 50px);
    width:100%;
    position:absolute;
    top:50px;
    bottom:0;
}

@media only screen and (max-width:1000px) {
    .noteView {
        height:96vw;
        width:96vw;
        max-height:500px;
        max-width:500px;
        top:1%;
        left:2%;
        right:2%;
    }
    .infoPanel {
        position:absolute;
        top:calc(1% + 96vw);
        left:3%;
        width:94%;
        height:330px;
    }
    .details {
        top:0;
        right:0;
        width:100%;
        height:200px;
    }
    .detailsContent {
        margin:20px auto auto auto;
        
    }
    .controls {
        top:220px;
        right:0;
        left:0;
        width:100%;
        height:130px;
    }
}

@media only screen and (min-width:530px) and (max-width:1000px) {
    .infoPanel {
        position:absolute;
        top:calc(1% + 500px);
    }
}